body {
  background: #000000;
  color: #ffeef2;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.principal {
  display: flex;         
  align-items: center;    
  height: 100vh;         
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000000;
  color: rgb(255, 255, 255);
  gap: 30px;   
  box-shadow: 0 0 20px rgba(255, 182, 193, 0.1);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

  .texto{
    width: 50%;
}

  h1 {
    color: #f2c3d4;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 5px #000;
    font-size: 2rem;
  }

  h3 {
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 5px #000;
    font-size: 28px;
  }
  
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px #000;
    line-height: 1.7;
  }

  .img-container {
    width: 40%;
  }

  img {
    width: 100%;
    max-width: 400px;
    border-radius: 500px;
    height: auto;
    box-shadow:  0 0 25px 8px rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    display: block;
  }

  .sobre-mim {
    font-family: Verdana, Tahoma, sans-serif;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: #743a4f;
    color: white; 
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px;
  }

  .sobre-mim p {
    width: 50%;
    text-align: center;
  }

  .sobre-mim h3 {
    margin-top: 5px;
  }

  .sobre-mim h1 {
    font-size: xx-large;
    width: 50%;
    text-align: center;
    margin-bottom: 5px
  }


  .img-mim {
    width: 100%;
    max-width: 300px;
    border-radius: 500px;
    height: auto;
    box-shadow:  0 0 25px 8px rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    margin-bottom: 20px;
  } 

  .rede-social {
    display: flex;
    gap: 40px;
  }

  .icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1e1e1e;
    transition: transform 0.3s ease, backgroundcolor 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 182, 193, 0.3);
  }

  .icon:hover {
    transform: scale(1.2) rodate(5deg);
    background-color: #cb6b8b;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.6);
  }

  .icon img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
  }

  .img-mim h1 {
    color: #ffffff;
  }

  .img-mim h3 {
    color: #ffffff;
  }